<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("/Content/StyleSheet1.css")" rel="stylesheet" />
</head>
<body>

    <div class="container home2  pt-3  bg-black  bg-opacity-50 rounded-2 align-items-center justify-content-center text-center pb-5">

        <h1 class="text-center text-white pt-5  mt-2 fw-bold pb-4 ">WELCOME TO BOOK GALLERY</h1>
        @*<a href="https://localhost:44370/Authors/Create"></a>  <button class="btn but px-4 py-2 fw-bold fs-5> " onclick="location.href='/https://localhost:44370/Authors/Create'">Book Now</button>*@
        <a href="https://localhost:44370/Authors/Create" class="btn px-4 py-2 fw-bold fs-5">Book Now</a>



    </div>

</body>
</html>


